
.about-education{

    margin-top: 80px ;
  }
  
  .about-eduction-heading{
  
    width: 60vw;
  
    color: aqua;
    font-weight: bolder;
    animation:  aboutblink 1s infinite;
    letter-spacing: 1px;
  
    margin-bottom: 60px;
    text-align: left !important;
  
  }
  
  .about-edu-p{
    margin-top: 30px ;
    width: 60vw;
    text-align: left !important;
    letter-spacing: 1px; 
  }
  
  .a-e-p{
  
    font-size: small;
    margin-top: 20px !important ;
    width: 60vw;
    text-align: left;
    letter-spacing: 1px; 
  
    line-height: 30px;
  }
  
  .a-e-h{
    /* font-weight: bolder; */
    color: aqua;
    margin-top: 30px ;
    letter-spacing: 2px; 
  
  
  }